*.a
*.d
*.o
*.so
*.so.*
*.bak
*.orig
*.rej
*.save
*.swp
*.swo
*~
.DS_Store
__pycache__/
.pytest_cache/
*.py[cod]

# Standalone example build products
examples/*/analog_input_example
examples/*/cobra_example
examples/*/dio_example
examples/*/duty_cycle_encoder_example
examples/*/encoder_example
examples/*/i2c_example
examples/*/imu_example
examples/*/light_tower_example
examples/*/parsec_example
examples/*/pwm_example
examples/*/sharp_example
examples/*/titan_encoder_example
examples/*/titan_example
examples/*/ultrasonic_example
examples/servo_example/continuous
examples/servo_example/linear
examples/servo_example/standard
